
.App .navbar {
  padding: 0px;
}
.App a:hover{
  text-decoration: none;
}
.brand{
  /*width: 273px;*/
  /*height: 77px;*/
  font-family: Pacifico;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.55;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}

.product-card {
  width: 8rem;
  height: 12rem;
}

.product-card:hover {
  cursor: pointer;
}

.product-card-remove-wrapper {
  opacity: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.product-card-remove-wrapper:hover {
  cursor: pointer;
}

.product-card-body img {
  width: 100%;
  height: 100%;
}

.product-card-top {
  height: 2rem;
  background-color: #ffffff;
  color: #cccccc;
  font-family: Arial;
  font-size: 1rem;
}

.product-card:hover .product-card-remove-wrapper{
  opacity: 1;
}

.product-card-bottom {
  height: 2rem;
  background-color: #42d8d8;
  color: #ffffff;
  font-family: Arial;
  font-size: 1rem;
}

.meal-new {
  width: 557px;
  border: 1px solid #ccc;
  margin: auto;
  margin-top: 10rem;
  background-color: #e9ecef;
}

.meal-new-top{
  width: 14rem;
  height: 14rem;
  margin-top: -7rem;
  box-shadow: 0px 5px 10px #cccccc;
  border-radius: 25px;
}

.meal-new-top img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  border: 1px solid #e9ecef;
}

.meal-new-title {
  font-family: Arial;
  font-size: 69px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.22;
  letter-spacing: normal;
  text-align: center;
  color: #1c0c0c
}

.meal-new-bottom {
  background-color: #42d8d8;
  box-shadow: 0px -4px 8px #ccc;
  color: #ffffff;
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.meal-new-bottom:hover {
  cursor: pointer;
}

.meal-new-square {
  width: 242px;
  height: 121px;
  border: 1px solid #cccccc;
  font-size: 3rem;
  text-align: center;
  margin: auto;
}

#date-picker {
  padding: 0px;
  font-size: 1rem;
}

#date-picker:hover{
  cursor: pointer;
}