.App .navbar {
  padding: 0px;
}
.App a:hover{
  text-decoration: none;
}
.brand{
  /*width: 273px;*/
  /*height: 77px;*/
  font-family: Pacifico;
  font-size: 40px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.55;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
